#app {
  width: 550px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

#app h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
}

#app .app-main {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.main {
  position: relative;
  border-top: 1px solid #e6e6e6;
}

.main .new-todo {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  line-height: 1.4em;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.toggle-all{
  position: absolute;
  border: none;
  opacity: 0;
}

.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: 12px;
  left: -13px;
  transform: rotate(90deg);
}

.toggle-all:checked + label:before {
  color: #737373;
}
.toggle-all + label:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
  cursor: pointer;
}

/* .toggle-all:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
} */

.footer {
  position: relative;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  border-top: 1px solid #e6e6e6;
}

.footer.hide {
  display: none;
}

.footer .todo-count {
  position: absolute;
  left: 10px;
}

.footer .filters {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.footer .filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.footer .filters li {
  display: inline;
}

.footer .filters li a {
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
}

.footer .clear-completed {
  position: absolute;
  right: 10px;
  color: #777;
  background: none;
  cursor: pointer;
}

.footer .clear-completed.hide {
  display: none
}

.footer .clear-completed:hover {
  text-decoration: underline;
}

.footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.app-info {
  margin-top: 30px;
  text-align: center;
  color: #bfbfbf;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li {
  position: relative;
  border-bottom: 1px solid #ededed;
}
